PassengerEnabled on
PassengerAppRoot /home/techandc/public_html/mail
PassengerBaseURI /mail
PassengerPython /usr/bin/python3
PassengerStartupFile passenger_wsgi.py

# Serve existing files and directories directly
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mail/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L,QSA]
</IfModule>

Options -Indexes
